.header{
    display: flex;
    justify-content: space-around;
    padding: 0.1em;
    background-color: rgb(255, 255, 255);
    height: 55px;
}

.container{
    color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255); 
    text-transform: uppercase;
}

/* PRIMEIRA LINHA */

.primeiradiv video{
  position: fixed; 
	bottom: 0;
	height: auto; 
	z-index: -1000;
}

.cardtitulo {
    position: absolute;
    bottom: 20px;
    left: 10.5%;
    padding-bottom: 200px;
  }

  .titulo {
    font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1300 - 300)));
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 20px #f2f2f2);
  }

  .btntitulo{
    height: 70px;
    width: 200px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #000000;
    background: #e39500;
    cursor: pointer;
    font-size: x-large;
    transition-duration: 0.4s;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #00000052;
}
 
/* código para tirar funções do video  */

video::-webkit-media-controls-panel{
    display: none;
}

/* SEGUNDA LINHA */

  .segundalinha{
    background-color: #e6e6e6;
    width: 100%;
    height: 500px;
    margin-top: 600px;
  }

  .caixa{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .caixa img{
      height: 400px;
      width: 400px;
  }

  .caixa .texto{
    width: 40%;
  }

  /* TERCEIRA LINHA */

  .terceiralinha{
    background-color: #e6e6e6;
    width: 100%;
    height: 750px;
  }

  .t3{
    display: flex;
    justify-content: center;
  }

  .caixa2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
  }

  .t4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    flex-direction: column;
  }

  /* QUARTA LINHA */

  .quartalinha{
    background-color: #e6e6e6;
    width: 100%;
    height: 500px;
  }

    /* FOOTER */

    .footer{
        height: 200px;
        width: 100%;
        padding:40px 0;
        background-color:#535353;
        color:#000000;
      }
      
      .footer ul {
        justify-content: center;
        text-align:center;
        font-size:18px;
        line-height:1.6;
        display: flex;
        list-style: none;
      }
      
      .footer li {
        padding:0 10px;
      }
      
      .footer ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
      .footer ul a:hover {
        opacity:1;
      }
      
      .footer .copyright {
        justify-content: center;
        margin-top:15px;
        text-align:center;
        font-size:13px;
        color:#aaa;
      }